*{
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

@import "partials/colors";
@import "partials/header";
@import "partials/layout";

body{
    font-family: 'Sora', sans-serif;
    width: 100%;
    height: 100vh;
    // margin-left: 10%;
    // margin-right: 10%;
    background-color: $primary-normal;
    color: $white-normal;
    // display: flex;
    
}
::selection{
    background-color: $black-light;
    color: $red-normal;
}
button{
    font-family: 'Sora', sans-serif;
    cursor: pointer;
}
svg{
    width: 100%;
}
img{
    width: 100%;
}
a{
    cursor: pointer;
    text-decoration: none;
}