@media (max-width: 768px){}
@media (max-width: 425px){
    /* .conteiner{
        display: flex;
    } */
    .conteiner #header{
        font-size: 20px;
    }
    .conteiner #menu li{
        font-size: 14px;
    }
    .conteiner #headerCta h1{
        font-size: 20px;
        line-height: 24px;
        margin-left: -15%;
    }
    .conteiner #headerCta p.gray{
        font-size: 12px;
        width: 120%;
        margin-left: -15%;
    }
    .conteiner #btnCta{
        width: 50%;
        padding: 5px 15px 5px 15px;
        font-size: 12px;
    }
    #headerImg img{
        margin-left: -15%;
        width: 155%;
        height: 80%;
    }
    .conteiner #about-me{
        margin-top: 15px;
    }
    .conteiner #about-me h1.black{
        font-size: 18px;
    }
    .conteiner #about-me p.gray{
        font-size: 14px;
        width: 90%;
    }
     #allSkills #skills h1.black{
        font-size: 18px;
    }
    #allSkills #skills li{
        font-size: 14px;
    }
    #contact h1.black{
        font-size: 18px;
    }
    #contact p.gray{
        font-size: 14px;
        width: 90%;
    }
    #redes img{
        width: 35px;
        height: 35px;
    }
}