@media (max-width: 600px) {   
    /* .conteiner{
        flex-direction: column;
        width: 100%;
    }  */
    body{
        margin: 0;
        padding: 0;
    }
    #header{
        font-size: 24px;
    }
    #menu li {
        display: block;
        font-size: 14px;
    }
    #headerCta{
        display: block;
    }
   .conteiner #headerCta h1{
        font-size: 24px;
        line-height: 24px;
    }
    p.gray{
        font-size: 14px;
    }
    .conteiner #headerImg img{
        width: 140%;
    }
    .conteiner #btnCta{
     padding: 5px 20px 5px 20px;
     align-items: center;
        font-size: 14px;
    }
    .conteiner #services h1.black{
        line-height: 15px;
        font-size: 24px;
    }
    .conteiner .textCenter img{
        width: 25%;
    }
    .conteiner .textCenter{
        margin-top: 15px;
        line-height: 17px;
    }
    .conteiner .textCenter h3{
        font-size: 18px;
    }
    .conteiner #contactImg img{
        width: 100%;
        height: 65%;
        margin-left: -10%
    }
    #contact .conteiner .contactText{
        /* margin-right: -45%; */
        width: auto;
        display: flex;
    }
    .conteiner .contactText h1.black{
        font-size: 20px;
        line-height: 25px;
        margin-left: -40%;
    }
    .conteiner .contactText h2.red{
        font-size: 15px;
        display: flex;
        margin-left: -40%;
    }
    .conteiner .contactText p.gray{
        font-size: 12px;
        display: flex;
        width: 120%;
        margin-left: -40%;
    }
    #contact .contactText form input{
        background-color: #f5f6fb;
        border-radius: 50px;
        font-family: Poppins;
        font-size: 12px;
        color: #575455;
        border: 0;
        width: 120%;
        padding: 5px 15px 5px 15px;
        margin-left: -40%;
    }
    #contact .contactText button[type="submit"]{
        width: 75%;
        height: 38px;
        left: 813px;
        top: 1662px;
        background-color: #1f7cff;
        color: #fff;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        border-radius: 30px;
        border: 0;
        cursor: pointer;
        font-weight: 600;
        line-height: 24px;
        box-shadow: 0px 6px 4px 3px #0c70f240;
    }
    #contact .contactText button[type="submit"]:hover{
        transition: transform 0.8s;
        transform: translateY(-8px);
        background-color: #174d99;
    }
    #portfolioImg{
        margin-top: 35px;
        margin-bottom: 30px;
        display: grid;
        flex-direction: column;
        grid-auto-columns: auto;
    }
    #redes #headerRedeText{
        font-family: Poppins;
        font-style: normal;
        font-size: 12px;
        line-height: 18px;
        margin-left: -17%;
        /* padding-right: 15px; */
        text-align: center;
    }
    #redes .redesImg{
        width: 25px;
        align-items: center;
        /* margin-left: 30%; */
    }
    #redes .redesImg2{
        align-items: center;
        width: 25px;
        /* margin-left: 30%; */
    }
}
@media (max-width: 425px) {   
    /* .conteiner{
        flex-direction: column;
        width: 100%;
    }  */
    body{
        margin: 0;
        padding: 0;
    }
    .conteiner #header{
        font-size: 20px;
    }
    .conteiner #menu{
        line-height: 1px;
    }
   .conteiner #menu li {
        font-size: 12px;
        margin-bottom: 15px;
        line-height: 3px;
        /* height: auto; */
    }
   .conteiner #headerCta{
        display: block;
    }
   .conteiner #headerCta h1{
        font-size: 18px;
        /* line-height: 24px; */
        margin-left: -15%;
        align-items: center;
    }
    .conteiner #headerCta p.gray{
        font-size: 12px;
        width: 110%;
        margin-left: -15%;
    }
    p.gray{
        font-size: 14px;
    }
    .conteiner #headerImg img{
        width: 170%;
        margin-left: -30%;
    }
    .conteiner #btnCta{
     padding: 5px 15px 5px 15px;
     align-items: center;
        font-size: 12px;
        width: 40%;
        margin-left: -10%;
    }
    .conteiner #services h1.black{
        line-height: 12px;
        font-size: 22px;
    }
    .conteiner #services p{
        font-size: 14px;
    }
    .conteiner .textCenter img{
        width: 25%;
    }
    .conteiner .textCenter{
        margin-top: 15px;
        line-height: 17px;
    }
    .conteiner .textCenter h3{
        font-size: 13px;
    }
    .conteiner .textCenter p.gray{
        font-size: 12px;
    }
    .conteiner #contactImg img{
        width: 140%;
        height: 75%;
        margin-left: -30%
    }
    #contact .conteiner .contactText{
        /* margin-right: -45%; */
        width: auto;
        display: flex;
    }
    .conteiner .contactText h1.black{
        font-size: 12px;
        line-height: 25px;
        margin-left: -50%;
        width: 120%;
        margin-top: 5px;
        line-height: 17px;
        /* margin-right: -; */
    }
    .conteiner .contactText h2.red{
        font-size: 10px;
        display: flex;
        width: 120%;
        margin-left: -50%;
        line-height: 17px;
    }
    .conteiner .contactText p.gray{
        font-size: 11px;
        display: flex;
        width: 190%;
        margin-left: -50%;
    }
    #contact .contactText form input{
        background-color: #f5f6fb;
        border-radius: 50px;
        font-family: Poppins;
        font-size: 10px;
        color: #575455;
        border: 0;
        width: 120%;
        padding: 5px 15px 5px 15px;
        margin-left: -55%;
    }
    #contact .contactText button[type="submit"]{
        width: 100%;
        height: 38px;
        /* left: 813px; */
        margin-left: -25%;
        margin-top: -5px;
        background-color: #1f7cff;
        color: #fff;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        border-radius: 30px;
        border: 0;
        cursor: pointer;
        font-weight: 600;
        line-height: 24px;
        box-shadow: 0px 6px 4px 3px #0c70f240;
    }
    #contact .contactText button[type="submit"]:hover{
        transition: transform 0.8s;
        transform: translateY(-8px);
        background-color: #174d99;
    }
    #portfolioImg{
        margin-top: 35px;
        margin-bottom: 30px;
        display: grid;
        flex-direction: column;
        grid-auto-columns: auto;
    }
    #portfolioImg .project img{
        width: 100%;
        border: 0;
    }
    #redes{
        margin-top: 5px;
    }
    #redes #headerRedeText{
        font-family: Poppins;
        font-style: normal;
        font-size: 10px;
        line-height: 18px;
        margin-left: -17%;
        /* padding-right: 15px; */
        text-align: left;
        margin-top: -25px;
        /* align-items: center; */
    }
    #redes .redesImg{
        width: 35px;
        align-items: center;
    }
    #redes .redesImg2{
        align-items: center;
        width: 35px;
    }
    #contact1 h1.black{
        font-size: 18px;
    }
    #contact1 p.gray{
        font-size: 14px;
        width: 90%;
    }
}